.bannerContainer {
  background-image: url("https://ecosmartvietnam.com/static/img/activities_page/titlebackground.jpg");
  height: 100px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    display: block;
    font-size: 40px;
    font-weight: 550;
    margin: auto;
    color: #fcf5e5;
  }
}
