@import "globalstyle.module.scss";
.categoryContainer {
  width: 200px;
  padding: 20px 0;
  .categoryHeader {
    display: flex;
    flex-direction: row;
    font-weight: 550;
    .icon {
      //   margin-right: 10px;
    }
    label {
      margin-left: 10px;
      font-weight: 550;
      font-size: 17px;
      margin-bottom: 15px;
    }
  }
}
.ruler {
  width: 100%;
  height: 0.5px;
  background-color: rgb(207, 207, 207);
}
.categoryList {
  margin: 10px 10px;
  .categoryItem {
    padding: 10px 0;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: $primary-color;
    font-weight: 550;
  }
  .icon {
    margin-left: -13px;
    margin-right: 5px;
  }
}
.filterContainer {
  margin-top: 30px;
  .filterHeader {
    display: flex;
    flex-direction: row;
    font-weight: 550;
    .icon {
      margin-right: 10px;
    }
  }
  .filterGroup {
    margin-top: 20px;
    font-size: 14px;
    .filterGroupLabel {
      margin-bottom: 13px;
    }
    .filterGroupItem {
      margin: 10px 0;
      display: flex;
      align-items: center;
      input {
        margin-right: 10px;
        margin-bottom: 2px;
      }
    }
    .filterMore {
      display: flex;
      flex-direction: row;
      margin: 20px 0 20px 22px;
      &:hover {
        cursor: pointer;
      }
      span {
        margin-right: 10px;
      }
    }
    .priceRangeFilter {
      margin-bottom: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .priceRangeFilter__input {
        width: 70px;
        outline: none;
        padding: 5px 5px;
        // margin-right: 10px;
      }
    }
    .submitBtn {
      padding: 7px 10px;
      border-radius: 5px;
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.deleteAllFilterBtn {
  padding: 7px 10px;
  border-radius: 5px;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
