.navbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 90px;
}
.navbarList {
  display: flex;
  flex-direction: row;
  .navbarItem {
    margin: 0 15px;
    font-size: 18.4px;
    font-weight: 550;
    &:hover {
      cursor: pointer;
    }
  }
}
.logo {
  img {
    width: 75px;
    height: 75px;
  }
}
